/node_modules
/public/hot
/public/storage
/public/documents
/public/comments
/storage/*.key
/vendor
.env
Archive.zip
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
